<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'COMMON.HOME.TITLE' | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pre>{{ visitor | json }}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a data-ng-href="#!/commodities/" class="btn btn-info">Browse all commodities</a>
            <a data-ng-href="#!/stores/my/commodities/" class="btn btn-primary">Browse my commodities</a>
        </div>
    </div>
</div>