<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()"><span aria-hidden="true">&times;</span>
        <span class="sr-only">{{ 'NAVBAR.MODAL.CLOSE' | translate }}</span></button>
    <h3 class="modal-title">{{ 'STORE.MY.ADD_BRAND' | translate }}</h3>
</div>
<form class="form-horizontal" data-ng-submit="create()">
    <div class="modal-body">
            <table class="table">
                <tr>
                    <td><input type="text" data-ng-model="data.title" class="form-control" required
                               placeholder="{{ 'STORE.MODAL.TITLE_PLACE' | translate }}">
                        <p class="text-danger" data-ng-repeat="e in error.title">{{ e }}</p>
                    </td>
                </tr>
                <tr>
                    <td><input type="number" data-ng-model="data.priority" class="form-control"
                               placeholder="{{ 'STORE.MODAL.PRIORITY_PLACE' | translate }}" min="0">
                        <p class="text-danger" data-ng-repeat="e in error.priority">{{ e }}</p>
                    </td>
                </tr>
            </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i>
            {{ 'FORM.SUBMIT' | translate }}</button>
    </div>
</form>
