<section class="app-footer">
    <div class="container-fluid">
        <span class="pull-left" style="padding: 5px 0 0 10px;">
            <a class="brand" ng-href="#/app2/page/about">About</a>
        </span>
        <span class="pull-right">
            <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
            <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
            <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
            <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
        </span>
    </div>
</section>
