.baker-avatar {
	height: 42px;
	width: auto;
	margin: 8px 10px 8px 15px;
}

.product_tiles {
	margin: 5px;
	padding: 0;
    display: flex;
}

.product_tiles .col-xs-4 {
	padding: 3px;
    align-items: center;
    display: flex;
}

.product_tiles img {
	border: 1px;
	border-style: solid;
}

.delivery-hour-option {
	display: block; 
	width: 150px; 
	height: 30px;
	padding-left: 5px;
}

.delivery-hour-option md-checkbox {
	float: right;
	margin-bottom: 2px;
}

.md-sidenav-right a {
	display: block;
	font-size: 16px;
	margin: 5px 0 5px 20px;
}

#right-menu {
	width: 135px; 
	height: 170px; 
	min-width: 120px;
	padding-top: 20px;
}

#right-menu a {
	line-height: 21px;
}

#right-menu hr {
	margin: 3px;
}
