<div class="row">
<div class="col-md-offset-2 col-md-8">
<img ng-src="/static/assets/images/add_photo.png" class="img-responsive">
<form name="product-form">
	<input type="file" name="logo">
	<TEXTAREA placeholder="This is the description" name="description">		
		This is a description of the product. It is made from high quality ingredients and 
		delivered fresh to you by the baker.
	</TEXTAREA>
	<div>
		Price Per Unit:
		Min Units Per Order:
		Delivery method:
		<span style="display: block;">Pickup <md-checkbox ng-model="checkbox.cb1" aria-label="Checkbox 1"></md-checkbox></span>
		<span style="display: block;">Nextday <md-checkbox ng-model="checkbox.cb2" aria-label="Checkbox 1"></md-checkbox></span>
		<span style="display: block;">1 hour <md-checkbox ng-model="checkbox.cb3" aria-label="Checkbox 1"></md-checkbox></span>
		<span style="display: block;">2 hour <md-checkbox ng-model="checkbox.cb4" aria-label="Checkbox 1"></md-checkbox></span>
	</div>
	<md-button class="md-raised btn-w-md md-primary">Post</md-button><div class="divider divider-xs"></div></form>
<div>
    <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
    <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
    <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
    <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>

</div>
</div>
</div>